<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>I Wanna Widget</title>
    <style type="text/css" media="screen">
      * { font-family: Helvetica; }
      body {
        background-color: #eee;
      }
      h1, h2 { color: #690;}
      textarea,
      pre code {
        font-family: Consolas, Courier, Monaco, typewriter;
      }
      pre {
        padding: 1em;
        color: #666;
        background-color: #ccc;
      }
    </style>
  </head>
  <body>
    <h1>iwannawidget, baby</h1>
    <%= yield %>
    <h2>Para poner el widget en donde fuere:</h2>
    <textarea cols="80" rows="4"><%= swf_helper %></textarea>
    <%= RDiscount.new(File.read("README")).to_html %>
  </body>
</html>